.App {
  text-align: center;
  background-color: #dcdfcf;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.site-footer{
  font-family: cursive;
  font-size: 20px;
  border-style: outset;
  border-width: 10px;
  border-color: rosybrown;
  border-radius: 5px;
  margin-top: 80px;

}
#navBar{
  font-family: cursive;
  font-size: 23px;
  border-style: outset;
  border-width: 10px;
  border-color: rosybrown;
  border-radius: 5px;
  margin-bottom: 50px;
}

/* .row-content {
  padding: 50px;
  border-bottom: 1px ridge;
  min-height: 200px; 
} */

h1 {
  font-family: cursive;
  font-size: 80px;
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
}

    
@media (min-width: 768px) {
.card-img-top {
  height: 15vw;
}
}

@media (min-width: 576px) {
  .card-deck {
      display: block;
      margin-right: 15;
      margin-left: -15;
  }
  }
    
.card-deck {
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
* {box-sizing: border-box}

.card-title {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-variant-caps: all-small-caps;
  font-size: 27px;
  font-weight: bolder;
}

.card-footer{
  background-color: silver;
  text-align: start;
  font-variant-caps: all-petite-caps;
  font-weight: bold;
  
}
.card {
  border-style: groove;
  border-color: slategray;
  border-width: 6px;
  text-align: start;
}


#regForm {
  border-style: solid;
  border-width: 5px;
  border-radius: 5px;
  background-color: #d1dfcfc5;
  font-variant-caps: all-small-caps;
  font-weight: 500;
  padding: 10px;
  text-align: start;
}

#loginC1 {
  width: 450px;
  border-style: outset;
  border-width: 4px;
  border-color: rosybrown;
  background-color: #d1dfcfc5;
  font-variant-caps: all-small-caps;
}

#login-container [type=text] {
  padding: 6px;
  margin-top: 6px;
  font-size: 15px;
  border: none;
  width: 165px;
}

.nav-link:active {
  background-color: rosybrown;
  border-radius: 5px;

}

.carousel-item {
  border: 10px #000000 solid;
  border-right: 10px #000000 solid;
  width: 100%;
  height: 100%;
  
}

.caption {
height: 9px;
text-align: center;
padding-bottom: 40px;
margin-bottom: 20px;
font-variant-caps: all-small-caps;
}

.prev-icon {
  margin: 140px 0px 0px -85px;
  border: 6px #76b852 ridge;
  border-Width: 20px ridge; 
  width: 100px;
  height: 50%;
  
}

.next-icon {
  margin: 140px -85px 0px 0px;
  border: 6px #76b852 ridge;
  width: 100px;
  height: 50%;
}


.active {
  background-color: rosybrown;
  border-radius: 5px;
}

#accordion{
  text-align: start;
}

#git {
  background-color: rgba(236, 193, 156, 0.486);
  border-color: #76b852;
  border-style: inset;
  border-width: 3px;
  
}
#sweetB {
  background-color: rgba(236, 193, 156, 0.486);
  border-color: #76b852;
  border-style: inset;
  border-width: 3px;
  
}
#sweetO {
  background-color: rgba(236, 193, 156, 0.486);
  border-color: #76b852;
  border-style: inset;
  border-width: 3px;
}
#nicolaP {
  background-color: rgba(236, 193, 156, 0.486);
  border-color: #76b852;
  border-style: inset;
  border-width: 3px;
}
#blueB {
  background-color: rgba(236, 193, 156, 0.486);
  border-color: #76b852;
  border-style: inset;
  border-width: 3px;
}
#beastS {
  background-color: rgba(236, 193, 156, 0.486);
  border-color: #76b852;
  border-style: inset;
  border-width: 3px;
}
#billieB {
  background-color: rgba(236, 193, 156, 0.486);
  border-color: #76b852;
  border-style: inset;
  border-width: 3px;
}
#sugarS {
  background-color: rgba(236, 193, 156, 0.486);
  border-color: #76b852;
  border-style: inset;
  border-width: 3px;
}
#monsterT {
  background-color: rgba(236, 193, 156, 0.486);
  border-color: #76b852;
  border-style: inset;
  border-width: 3px;
}
#gmaC {
  background-color: rgba(236, 193, 156, 0.486);
  border-color: #76b852;
  border-style: inset;
  border-width: 3px;
}
#bushB {
  background-color: rgba(236, 193, 156, 0.486);
  border-color: #76b852;
  border-style: inset;
  border-width: 3px;
}
#queenE {
  background-color: rgba(236, 193, 156, 0.486);
  border-color: #76b852;
  border-style: inset;
  border-width: 3px;
}
#frankenP {
  background-color: rgba(236, 193, 156, 0.486);
  border-color: #76b852;
  border-style: inset;
  border-width: 3px;
}
/* .row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px; 
}
   */

   #card1 {
    border-style: inset;
    border-color: slategray;
    border-width: 6px;
    font-family: Arial, Helvetica, sans-serif;
  }

  #card2 {
    border-style: inset;
    border-color: slategray;
    border-width: 6px;
    font-family: Arial, Helvetica, sans-serif;
  }

  #card3 {
    border-style: inset;
    border-color: slategray;
    border-width: 6px;
    font-family: Arial, Helvetica, sans-serif;
  }